[submodule "curl"]
	path = curl
	url = git://github.com/bagder/curl.git
[submodule "c-ares"]
	path = c-ares
	url = git://github.com/bagder/c-ares.git
[submodule "SFTP"]
	path = SFTP
	url = https://github.com/EnthusiasticCode/libssh2_sftp-Cocoa-wrapper.git
[submodule "libcurl-for-iOS"]
	path = libcurl-for-iOS
	url = https://github.com/EnthusiasticCode/libcurl-for-iOS.git
